* {
    margin: 0;
    padding: 0;
}

/* 
------------------------------------------------
styles généraux
------------------------------------------------ */

body {
    background-color: #2458BE;
    color: white;
    font-family: 'Source Code Pro';
}


h2 {
    font-size: 35px;
    font-weight: bold;
}

section {
    margin-inline: 10vw;
}

.heading-2 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.heading-2 div {
    height: 3px;
    width: 70px;
    background-color: white;
}

li {
    display: inline-block;
}

/* 
------------------------------------------------
styles du header
------------------------------------------------ */

header {
    margin-inline: 10vw;
    margin-bottom: 50px;
    margin-top: 30px;
}

#logo {
    font-size: 50px;
    font-weight: bold;
}


/* 
------------------------------------------------
styles du home
------------------------------------------------ */

#home {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    height: calc(100vh - 150px);
}

#home .large {
    width: 300px;
    height: 300px;
    filter: drop-shadow(5px 4px 4px rgba(0,0,0,0.5));
    border-radius: 10px;
}

#home p {
    font-weight: bold;
}



/* 
------------------------------------------------
styles de la bio
------------------------------------------------ */


#biography p {
    margin: 100px 0;
}




/* 
------------------------------------------------
styles des albums
------------------------------------------------ */

#albums {
    margin-right: 0;
}


.albums-slider {
    margin: 100px 0;
    display: flex;
    overflow: auto;
    gap: 30px;
    scroll-snap-type: x mandatory;
}

.album {
    scroll-snap-align: start;
}

::-webkit-scrollbar {
    width: 0;
}

.album p {
    font-size: 18;
    font-weight: bold;
    margin-top: 20px;
}

.album img {
    border-radius: 10px;
    filter: drop-shadow(5px 4px 4px rgba(0,0,0,0.5));
}





/* 
------------------------------------------------
styles des clips
------------------------------------------------ */


.carousel {
    margin: 100px auto;
    max-width: 400px;
}



/* 
------------------------------------------------
styles du footer
------------------------------------------------ */


footer {
    margin: 100px auto;
}


.socials {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.links a {
    text-decoration: none;
  
}

.links {
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}



/* 
------------------------------------------------
styles de la nav mobile
------------------------------------------------ */


#phone-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #143A83;
    height: 80px;
    padding-inline: 10vw;
    filter: drop-shadow(10px -5px 20px rgba(0,0,0,0.25));
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#phone-nav * {
    margin: 0;
}

.nav-list {
    width: 80vw;
    padding: 0;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}